{% extends "movies/base.html" %}
{% block title %}Список фильмов{% endblock %}

{% block content %}
<h1>Список фильмов</h1>



<div style="margin:10px 0;">
  <b>Категории:</b>
  <a href="{% url 'films_list' %}">Все</a>
  {% for c in categories %}
    | <a href="{% url 'films_list' %}?category={{ c.slug }}">{{ c.name }}</a>
  {% endfor %}
</div>

<ul>
  {% for film in films %}
    <li style="margin:10px 0;">
      <a href="{% url 'film_detail' film.pk %}"><b>{{ film.title }}</b></a> ({{ film.year }})
      {% if film.category %} • {{ film.category.name }}{% endif %}
    </li>
  {% empty %}
    <li>Фильмов пока нет.</li>
  {% endfor %}
</ul>
{% endblock %}
